backend/bin/
backend/obj/
backend/Migrations/
backend/*.user
backend/*.db
backend/*.log
backend/appsettings.Development.json

frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/.vercel/
frontend/out/
frontend/next-env.d.ts
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/utils/test.ts
frontend/utils/*.txt

ai/.env
ai/.env.local
ai/package-lock.json
ai/node_modules/
ai/*.pdf
ai/*.txt
ai/*.docx
ai/test.ts

notes.md

*.log
.env
*.env.local
.vscode/
.DS_Store