backend/bin/
backend/obj/
backend/Migrations/
backend/*.user
backend/*.db
backend/*.log
backend/appsettings.Development.json

frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/.vercel/
frontend/out/
frontend/next-env.d.ts
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/utils/test.ts
frontend/utils/*.txt
frontend/utils/*.pdf
frontend/utils/*.jpg
frontend/utils/*.png

notes.md

*.log
.env
*.env.local
.vscode/
.DS_Store